<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="BlackBox" type="BlackBox.LogConfigurationSectionHandler, BlackBox"/>
	</configSections>
	<BlackBox>
		<InternalLogger>
			<Enabled>True</Enabled>
			<Threshold>Information</Threshold>
		</InternalLogger>
		<Sinks>
			<!--<Sink Type="File" FileName="$(basedir())/logs/$(time(format='yyyy-MM-dd')).txt" Format="[$(logger(fullname=false))] [$(time(format='HH:mm:ss'))] $(message())"/>-->
		</Sinks>
	</BlackBox>
</configuration>